@import "vars";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

html, body, #app, .page {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  color: $grey;

}

a {
  color: $yellow;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.mainNav {
  background: $grey;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 0 5%;
  img {
    height: 5vh;
    position: relative;
    margin-bottom: 2%;

  }
  .brandLink {
    margin-right: auto;
  }
  a {
    margin: 0 1%;
  }

}

.btn {
  @include rounded;
  @include shadow;
  display: inline-block;
  background: $grey;
  padding: 1% 2%;
  color: $yellow;
  text-decoration: none;
  @include transition;
  &:hover {
    text-decoration: none;
    background: $grey--light;
    box-shadow: none;
  }
}

.btn.yellow {
  background: $yellow;
  color: $grey;
  &:hover {
    text-decoration: none;
    background: $yellow--hover;
  }
}

.homePage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1.5fr 1.5fr 1fr 1.5fr;
  height: 400vh;
}

.coverImage {
  background: url("../../assets/images/homeBanner.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  .tagLine {
    margin-top: auto;
    font-size: 3rem;
    font-weight: bold;
  }
  .cta {
    width: 10vw;
    text-align: center;
    margin-top: 1%;

  }
  .legacyNotice {
    color: $grey;
    align-self: center;
    margin-top: auto;
    margin-bottom: 1%;
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  .header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    h1 {
      text-align: center;
      font-size: 3vw;
      font-weight: 700;
      margin-top: auto;

    }
    .text {
      font-weight: 200;
      text-align: center;
      font-size: 1.3rem;

    }
    .scroll {
      text-align: center;
      margin-top: auto;
      font-weight: 200;
      font-size: 1rem;
    }
  }
  .feature {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    padding-left: 10%;
    h2 {
      font-weight: 700;
      font-size: 3vw;

    }
    p {
      font-weight: 200;
      margin-top: 1%;
      font-size: 1.2rem;
    }
  }
  .feature.class {
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: end;
  }
  .feature.topics {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .feature.sync {
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: start;
  }
  .featureImg {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    background: url("../../assets/images/graphite.png") left center no-repeat;
    background-size: 120%;
  }
}

.fast {
  background: $grey;
  color: white;
}

.big {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 20vw;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 5px 5px $yellow;
  }
  p {
    display: block;
    width: 60%;
    align-self: center;
    font-weight: 200;
    font-size: 1.3rem;
  }
}

.signup {
  background: $footer;
  padding: 2% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: 5vw;
    font-weight: bold;
  }
  .btn {
    display: flex;
    width: 15vw;
    height: 5vw;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  p {
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 1%;
  }
  h1 {
    font-weight: 700;
    font-size: 3rem;
  }
}

.mainFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $footer;
  height: 15vh;
  text-align: center;
  padding: 1%;
}

@media screen and (max-width: 414px) {

  .homePage {
    grid-template-rows: 1fr 3fr 1fr 1fr 0.5fr 1.5fr;
    height: 400vh;
  }
  .hide--small {
    display: none;
  }
  .mainNav {
    justify-content: space-around;
    height: 15vh;
    flex-wrap: wrap;
    .brandLink {
      width: 100%;
      justify-self: center;
      display: block;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .link {
      font-size: 1rem;
    }
    .btn {
      display: none;
    }
  }

  .coverImage {
    .tagLine {
      font-size: 1.5rem;
      text-align: center;
    }
    .cta {
      align-self: center;
      width: 30vw;
      margin-top: 2%;
    }
    .legacyNotice {
      font-size: 0.5rem;
    }
  }
  .features {

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    .header {

      h1 {
        font-size: 1.5rem;
      }
      .text {
        font-size: 1rem;
      }
    }
    .feature {
      padding: 1% 2%;
      h2 {
        text-align: center;
        font-size: 1.2rem;
      }
      p {
        text-align: center;
        font-size: 1rem;
      }
      align-content: center;
    }
    .featureImg {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
      -webkit-background-size: 80%;
      background-size: 90%;
      background-position: center center;
    }
  }
  .big {
    p {
      font-size: 1rem;
      width: 98%;
    }
  }
  .signup {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    h1 {
      font-size: 8vw;
      margin: 1% 0;
    }
    .btn {
      margin: 1% 0;
      width: 25vw;
      height: 15vw;
      font-size: 1rem;
    }
  }
  .about {
    width: 98%;
    justify-content: flex-start;

    h1 {
      margin-top: 10%;
      margin-bottom: 2%;
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .mainFooter {
    height: 30vh;
    font-size: 0.8rem;
    font-weight: 200;
  }
}
